<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is main page.</h2>
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="/gadgets/buttons">Gadget_buttons </a></li>
            <li class="nav-item"><a href="/gadgets/cards">Gadget_cards</a></li>
            <li class="nav-item"><a href="/gadgets/colors">Gadget_colors</a></li>
            <li class="nav-item"><a href="/gadgets/containers">Gadget_containers</a></li>
            <li class="nav-item"><a href="/positionings/forms"> Positionings_forms </a></li>
            <li class="nav-item"><a href="/positionings/grids">Positionings_grids</a></li>
            <li class="nav-item"><a href="/positionings/standard">Positionings_standard</a></li>
            <li class="nav-item"><a href="/positionings/tables">Positionings_tables</a></li>
        </ul>
    </nav>  
</body>
</html>